.tradelogger {
    display: flex;
    flex-direction: column;

    .action {
        margin: 1em 0;
        display: flex;
        justify-content: flex-end;
    }
    .trade {
        width: 100%;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        padding: 2em 1em;
        margin: 0;
        background-color: #242526;

        .trade-label {
            display: block;
            margin: 0em 0em 0.28571429rem 0em;
            color: white;
            font-size: 0.78571429em;
            font-weight: bold;
            text-transform: uppercase;
        }

        .trade-infos_data {
            display: flex;
            justify-content: space-around;
        }

        &-infos {
            width: 49%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &_session {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                font-size: 0.8em;

                .session-left {
                    display: flex;
                    justify-content: flex-start;
                    width: 60%;
                }
                .session-right {
                    width: 18%;
                }

                .session-container {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                    max-width: 270px;
                }

                .session-entrydate {
                    width: 36%;
                }

                .session-exitdate {
                    width: 45%;
                }
                .duration-container {
                    width: 25%;
                }
            }
        }

        .tab {
            width: 100%;
        }

        .trade-screenshot {
            margin: auto;
            width: 55%;
        }

        /* Tailles des tabs */
        .ui.grid > [class*="four wide"].column {
            width: 20% !important;
        }

        .ui.grid > .stretched.column:not(.row) {
            width: 80% !important;
        }

        .ui.form textarea:focus {
            color: rgba(255, 255, 255, 0.767);
            outline: 0.15em solid #666666 !important;
            border: none !important;
        }

        .ui.selection.dropdown .menu > .item {
            font-size: 0.9em;
        }
    }

    .ui.table tr.active {
        background: #242526 !important;
        font-weight: 600;
        color: rgb(255, 255, 255 / 80%) !important;
    }
}

.slider {
    width: 100%;
    display: block;
    max-width: 290px;
    position: relative;
    //border: 1px solid green;

    &__thumb {
        color: white !important;
        top: 22px;
        width: 15px;
        text-align: center;
        cursor: grab;
    }
    &__mark {
        background-color: white;
        text-align: center;
        padding: 0.3em;
        color: black;
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        font-size: 0.6em;
        font-weight: bold;
    }
    &__track {
        color: white !important;
        background-color: #898f99;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 5px;
        height: 10px;
    }

    &__track-1 {
        background: rgba(80, 87, 98, 0.746);
    }

    &__active {
        background-color: #fc9901c2;
    }
}

.react--slider {
    display: block;
    margin: auto;
}

.animate-trade {
    animation: animateTrade 1s forwards;
}

.animate-exit-trade {
    animation: animateExitTrade 1s forwards;
}

@keyframes animateTrade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateExitTrade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
