.tradelogger {
    display: flex;
    flex-direction: column;

    .action {
        margin: 1em 0;
        display: flex;
        justify-content: flex-end;
    }
    .trade {
        opacity: 0;
        display: flex;
        justify-content: space-between;
        padding: 1em;

        &-infos {
            width: 49%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            &_session {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-content: center;
                align-items: center;
                font-size: 0.8em;

                .session-left {
                    display: flex;
                    justify-content: flex-end;
                    width: 75%;
                }
                .session-right {
                    width: 15%;
                }

                .session-container {
                    display: flex;
                    justify-content: space-between;
                    width: 75%;
                }

                .session-entrydate {
                    width: 36%;
                }

                .session-exitdate {
                    width: 45%;
                }
                .duration-container {
                    width: 15%;
                }
            }

            &_details {
                padding: 2em 0 0.3em 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                flex: 1;

                .capital,
                .risk {
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }

            .ui.form textarea:focus {
                color: rgba(255, 255, 255, 0.767);
                outline: 0.15em solid #666666 !important;
                border: none !important;
            }
        }

        &-setup {
            width: 49%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .trade-edit {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: flex-end;
            }
        }

        &-screenshot {
            width: 100% !important;
            margin: 0 auto;
        }

        .label {
            margin-right: 1em;
        }

        .note {
            color: white;
        }

        .trade-infos__item {
            margin: 1em 0;
            padding: 1em 0 !important;
        }

        .ui.selection.dropdown .menu > .item {
            font-size: 0.9em;
        }
    }

    .ui.table tr.active {
        background: #242526 !important;
        font-weight: 600;
        color: rgb(255, 255, 255 / 80%) !important;
    }
}

.slider {
    width: 100%;
    display: block;
    max-width: 290px;
    position: relative;
    //border: 1px solid green;

    &__thumb {
        color: white !important;
        top: 22px;
        width: 15px;
        text-align: center;
        cursor: grab;
    }
    &__mark {
        background-color: white;
        text-align: center;
        padding: 0.3em;
        color: black;
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        top: 0px;
        font-size: 0.6em;
        font-weight: bold;
    }
    &__track {
        color: white !important;
        background-color: #898f99;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 5px;
        height: 10px;
    }

    &__track-1 {
        background: rgba(80, 87, 98, 0.746);
    }

    &__active {
        background-color: #fc9901c2;
    }
}

.react--slider {
    display: block;
    margin: auto;
}

.animate-trade {
    animation: animateTrade 1s forwards;
}

.animate-exit-trade {
    animation: animateExitTrade 1s forwards;
}

@keyframes animateTrade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animateExitTrade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
