.app {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #ffffff;
    background-color: #18191a;
}

a {
    color: white;
}

a:hover {
    color: yellowgreen;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4e4646;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fd9903;
}

/* Semantic UI modification */
.ui.form .field > label {
    color: white;
}

input {
    color: #d8cfcf !important;
    background-color: #282929 !important;
    border-bottom: none !important;
}

input:focus {
    outline: 0.15em solid #666666 !important;
}

textarea {
    color: #d8cfcf !important;
    background-color: #242526 !important;
    border: none !important;
    outline: 0.15em solid #282929 !important;
}

.ui.segment {
    background: #18191a;
}

.ui.attached.segment {
    border: none !important;
}

.ui.vertical.tabular.menu .item {
    color: white;
    border: none !important;
}

.ui.vertical.tabular.menu .active.item {
    background: #18191a;
    color: white;
}

.ui.vertical.tabular.menu {
    border: none !important;
}

.dropdown {
    background-color: #282929 !important;
    //background-color: #18191a !important;
    color: white !important;
}

.ui.selection.dropdown .menu > .item:hover {
    background-color: #fc9901c2 !important;
}

.ui.dropdown .menu > .item {
    background-color: #384141 !important;
    color: white !important;
    font-size: 1rem;
}

.ui.dropdown .menu > .item:hover {
    background-color: #fc9901c2 !important;
}

.text {
    color: white !important;
}

.ui.form .selection.dropdown > .menu,
.ui.dropdown .menu .selected.item {
    background-color: #516060 !important;
    border: none !important;
    border-radius: 0 !important;
}

.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
    background-color: #282929 !important;
    border: none;
}
.ui.selection.dropdown .menu > .item {
    border-top: 1px solid #6f6f6f;
}
.ui.selection.dropdown:focus {
    border: none;
}

.ui.form .selection.dropdown {
    border: none;
}

.field {
    min-width: 234px;
}

/* Confirm */
.ui.modal > .content {
    color: white;
    background-color: #18191a;
}

.ui.modal > .actions {
    background-color: #2d2e30;
    color: white;
}
