.layout {
    &-header {
        margin: 1em;
        padding: 0.3em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &-title {
        font-size: 2.2em;
        line-height: 1em;
        font-weight: 600;
        width: 100px;
    }

    &-menu {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        &--link {
            font-size: 1.2em;
        }
    }

    &-right {
        width: 12%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        font-size: 1.3em;

        &_container {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .icon-sold {
            max-height: 100%;
            font-size: 1em !important;
        }

        .icon-user {
            max-height: 100%;
            font-size: 1em !important;
        }

        &--sold {
        }

        &--avatar {
            max-width: 50px;
        }
    }

    &-main {
        flex: auto;
        margin: 1em;
        padding: 0.5em;
    }
}

.main {
}
