.tradestats {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0;

    .tradestats_container {
        background-color: #242526;
        width: 230px;
        height: 130px;
        border-radius: 10px;
        //border: 1px solid white;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        padding: 1em;

        .tradestats-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;

            .tradestats-title {
                font-size: 0.9rem;
                text-transform: uppercase;
            }

            .tradestats-number {
                font-size: 2.63rem;
                font-weight: bold;
            }
        }
    }
    .tradestats-profit_container {
        background-color: #242526;
        width: 230px;
        height: 130px;
        border-radius: 10px;
        //border: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        padding: 1em;

        .tradestats-totalprofit {
            font-size: 2.3rem;
            font-weight: bold;
        }
    }
}
